extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to delete
 else
  - let flowersid = toShow._id
  - let flower_name = toShow.flower_name
  - let flower_color = toShow.flower_color
  - let flower_size = toShow.flower_size
  - let actionid = "/resource/flowers/" + flowersid
  script let actionid = "#{actionid}"
  div
   div.row
    div(class='flowersAttr mr-3') flowers ID is:
    div #{flowersid}
   div.row
    div(class='flowersAttr mr-3') flowers name is:
    div #{flower_name}
   div.row
    div(class='flowersAttr mr-3') flowers color is:
    div #{flower_color}
   div.row
    div(class='flowersAttr mr-3') flowers size is:
    div #{flower_size}
  button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
  button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
 script.
  function cancel() {
  // Go back to the home page for the Kite collection
  window.location.href='/flowers'
  }
 script.
  function deleteOnid() {
   console.log("starting delete")
   // delete first
   fetch(actionid, {
    method: 'DELETE' // Don't need a body for the delete
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Delete succeded")
   window.location.href='/flowers'
   // TODO handle body
   }).catch((error) => {
   // TODO handle error
    alert("Delete failed " + error )
   });
  }